/* NAVBAR */
nav {
    padding: 1.25rem;
}

#logoAP {
    width: 10.9375rem;
}

/* BANNER */
#imagenFondo {
    padding: 1.25rem;
    width: 100%;
    justify-content: center;
}

/* ACERCA DE MI */
.container {
    margin: 0rem;
}

#parrafo1 {
    padding-left: 3.125rem;
    flex-direction: row;
    justify-content: right;
}

div {
    text-align: center;
}

#nombre {
    font-weight: bold;
    margin-top: 20%;

}

@media (min-width: 576px) {
    #fotoperfil {
        position: absolute;
        width: 10%;
        border-radius: 100%;
        box-shadow: 0.1875rem 0.1875rem 0.1875rem grey;
        left: 5%;
        top: 28.125rem;
    }
}

@media (max-width: 575px) {
    #fotoperfil {
        position: absolute top-20 start-20;
        width: 20%;
        border-radius: 100%;
        box-shadow: 0.1875rem 0.1875rem 0.1875rem grey;
        left: 40%;
        top: 20rem;
    }
}

/* EXPERIENCIA */
.row {
    padding: 1.25rem;
}

h2,h3 {
    display: inline;

}

ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 1.875rem;
}




/* EDUCACIÓN */






/* H&S SKILLS */




/* MIS PROYECTOS */

.containerP{
    width: auto;
}
.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}
.img-proyecto{
    margin-top: -5.4375rem;
    box-shadow: 0.3125rem 0.3125rem 0.8125rem rgb(11, 11, 99);
}



/* FOOTER */

footer{
    font-size: 1.125rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: -0.0625rem -0.0625rem 0.3125rem grey;
}